<h1>Your Problem</h1>
<h2><%= @problem.title %></h2>
<p><%= @problem.description %></p>
<p><%= @problem.created %></p>
<p><%= @problem.deadline %></p>
<p><%= @problem.completed ? "Done" : "Not Done" %></p>
