<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Probless</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <ul>
          <% if logged_in? %>
            <li><a href="/problems" style="margin-left: auto;">My Probs</a></li>
            <li><a href="/problems/all">Everyones Probs</a></li>
            <li><a href="/problems/new">Share A Prob</a></li>
            <li style="float: right;"><a href="/logout">Log Out</a></li>

          <% else %>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login" style="float: right;">Log In</a></li>
          <% end %>
        </ul>
      </nav>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2019 <strong>Probless</strong></small>
        <div class="sidebar">
          <h3>Environment</h3>
          <ul>
            <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
            <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
            <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
            <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
          </ul>
        </div>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
